<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>LotsaWater</string>
	<key>CFBundleExecutable</key>
	<string>LotsaWater</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LotsaWater</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.8</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>This screen saver captures screenshots to create a live wallpaper of the desktop, which need screen recording permissions.</string>
	<key>NSHumanReadableCopyright</key>
	<string>2011 Dag Ågren</string>
	<key>NSPrincipalClass</key>
	<string>LWLotsaWaterMetalView</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>alert</string>
</dict>
</plist>
